
body{
 width:100%;
 position: static;
}

#lugarHover{
    display: none;
}

#logarHover

/*PARTE DE ARRIBA (NAVEGADOR + CARRUSEL)*/
.header{
    display:flex;
    width: 100%;
    height: 400px;
    background-color: red;
    position: relative;
    z-index: 1;
}

/*Da el diseño al dropdown de LUGARES*/
.drowpdown{
    display: flex;
    flex-direction: column;
}

.primero{
    display: flex;
    flex-direction: row;
}

.segundo{
    display: flex;
    flex-direction: row;
}

.tercero{
    display: flex;
    flex-direction: row;
}

li {
    display: block;
    transition-duration: 0.5s;
   }
   
   li:hover {
     cursor: pointer;
   }
   
   ul li ul {
     visibility: hidden;
     opacity: 0;
     position: absolute;
     transition: all 0.5s ease;
     margin-top: 1rem;
     left: 0;
     display: none;
   }
   
   ul li:hover > ul,
    ul li:focus-within > ul,
    ul li ul:hover,
    ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
  width: 700px;
}
   
   ul li ul li {
     clear: both;
     width: 100%;
   }

/**/

/*Carrusel, da tamaño a las imagenes y posiciona en el fondo las imagenes*/
#carrusel{
    width: 100%;
    height: 400px;
    background-color: saddlebrown;
    position: absolute;
}

#carrusel .imagen{
    height: 400px;
    width: 100%;
}
/*Fin Carrusel*/


/*Este es nuestro navegador*/
.container_header{
    background-color: white;
    color: red;
    position: absolute;   
    z-index: 2;
    margin-top: 10%;
    width: 100%;
}
.hola{
    background-color: red;
    margin-top: 1000px;
}
/*Fin navegador*/


/*La seccion de arriba a la derecha con los idiomas*/
.idiomas{
    z-index: 2;
}

.idiomaColor{
    color: white;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.idiomaColor:active {
    color: rgb(48, 48, 241);
}
/*Fin idiomas*/

/*FIN PARTE DE ARRIBA (NAVEGADOR + CARRUSEL)*/


/*ZONA CENTRAL*/

/*Grid*/

.central{
    margin-top: 4%;
    width: 98%;
    height: 275px;
    text-align: center;
    margin-bottom: 5%;
    margin-left: 1%;
}

#imgCirculo{
    align-self: center;
    width: 150px;
    height: 150px; 
    border-radius: 100px;
}

.card{
    margin: 7%;
}

.grid{
    border: 0px solid;
}

.row{
    border: 0px;
}
/*Fin Grid*/


/*Video*/
.box{
    display: grid;
    width:100%;
    justify-items: center;
    
}

.divVideo{
    width: 50%;
    transition:1s;

}

/*Fin video*/

/*FIN ZONA CENTRAL*/

.container-fluid{
    display: flex;
    width:100%;
    justify-content: center;
    margin-top:30%;
    
    
}
.EnlaceLugar{
    list-style-type: none;
    color: white;
}
    .cards{
    display:flex;
    flex-direction: column;
    justify-items: center;
    width: 300px;
    height:500px;
    margin:10px;
    padding:3px;
    transition:3s ;
    position: relative;
   
}
 .cards img{
    position: relative;
    width:100%;
    height:100%;
    box-shadow: 5px 5px 3px black, 10px 10px 8px, 15px 15px 8px;
}
 
.cards h3{
    color: rgb(253, 244, 244);
    position:absolute;
    font-size: 20px;
    font-weight:700;
    bottom:0;
    width:100%;
    padding:20px;
    text-align: center;
    font-family: stolzl, sans-serif;
    text-transform: uppercase;
    text-shadow: 5px 5px 3px black, 3px 3px 10px black;
    box-sizing: border-box;
}
#bprev {
    position: absolute;
    top:120%;
}
#bnext{
    position: absolute;
    top:120%;
}
#pag{
    width:5%;
    height:30px;
}

span img{
    width:70%;
}

.carousel-indicators {
position: absolute;
top:120%;
}

.paginas{
    display:flex;
    width:100%;
    justify-content: center;
    position: absolute;
    top:117%;
    height:30px;
}
#pag.btn-primary:hover{
    background-color:rgba(37, 169, 245, 0.877);
    border-color:rgba(37, 169, 245, 0.877);
}
#texto{
    width:100%;
    padding-top:200px;
  
}


/*css del mediaquery para tablet*/
@media screen and (max-width: 1240px) and (min-width:980px) {
    .container-fluid{
        display: flex;
        flex-direction: row;
        width:100%;
        justify-content: center;
        margin-top:30px;
    
    }
    .central{
        margin-top: 4%;
        width: 98%;
        height: 100%;
        text-align: center;
        margin-bottom: 5%;
        margin-left: 1%;
    }
  
    .grid .row{
       display:grid;
       grid-template-columns: auto auto auto auto;
       justify-content: center;
      
    }
    .grid .card{
       width:30%;

      

    }
   
    .cards{
        display:flex;
        flex-direction: column;
        justify-items: center;
        width: 30%;
        height:400px;
        margin:10px;
        padding:3px;
        transition:3s ;
        text-align: center;
       
        
       
    }
    .cards img{
        width:auto;
        height:100%;
    }
    .cards div {
      width:100%;     
    }

}


@media screen and (max-width: 980px) and (min-width:774px){
    .container-fluid{
        display: flex;
        flex-direction: row;
        width:100%;
        justify-content: center;
        margin-top:30px;
    
    }
    .cards{
        display:flex;
        flex-direction: column;
        justify-items: center;
        width: 200px;
        height:300px;
        margin:10px;
        padding:3px;
        transition:3s ;
        
       
    }
    .central{
        margin-top: 4%;
        width: 100%;
        height: 100%;
        text-align: center;
        margin-bottom: 5%;
        margin-left: 1%;
    }
  
    .grid .row{
       display:grid;
       grid-template-columns: auto auto ;
       justify-content: center;
      
    }
    .divVideo{
        width: 90%;
        transition:2s;
      
    
    }
}
/* fin css del mediaquery para tablet*/

   /*css del mediaquery para movil*/
@media screen and (max-width: 774px) and (min-width:400px){
    .container-fluid{
        display:grid;
        flex-direction: row;
        width:100%;
        justify-content: center;
        margin-top:30px;
       
    }
    .cards{
        display:flex;
        flex-direction: column;
        justify-items: center;
        width: 300px;
        height:500px;
        margin:10px;
        padding:3px;
        transition:5s ;
        
       
    }
    .cards img{
        width:auto;
        height:100%;
    }
    .cards div {
      width:100%;     
    }

    #bprev {
        position: absolute;
        top:105%;
    }
    #bnext{
        position: absolute;
        top:105%;
    }
    .paginas{
        display:flex;
        width:100%;
        justify-content: center;
        position: absolute;
        top:104%;
        height:30px;
    }
    span img{
        width:110%;
        height:80%;
    }
    .central{
        margin-top: 4%;
        width: 100%;
        height: 100%;
        text-align: center;
        margin-bottom: 5%;
        margin-left: 1%;
    }
  
    .grid .row{
       display:grid;
       grid-template-columns: auto auto ;
       justify-content: center;
      
    }
    .divVideo{
        width: 100%;
        transition:3s;
    
    }
    /*fin css del mediaquery para movil*/
}