/*PARTE DE ARRIBA (NAVEGADOR + CARRUSEL)*/
.header{
    width: 100%;
    height: 400px;
    background-color: red;
    position: relative;
    z-index: 1;
}


/*Carrusel, da tamaño a las imagenes y posiciona en el fondo las imagenes*/
#carrusel{
    width: 100%;
    height: 400px;
    background-color: saddlebrown;
    position: absolute;
}

#carrusel .imagen{
    height: 400px;
    width: 100%;
}
/*Fin Carrusel*/


/*Este es nuestro navegador*/
.container_header{
    background-color: white;
    position: absolute;   
    z-index: 2;
    margin-top: 10%;
    width: 100%;
}
/*Fin navegador*/


/*La seccion de arriba a la derecha con los idiomas*/
.idiomas{
    z-index: 2;
}

.idiomaColor{
    color: white;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.idiomaColor:active {
    color: rgb(48, 48, 241);
}
/*Fin idiomas*/

/*FIN PARTE DE ARRIBA (NAVEGADOR + CARRUSEL)*/


/*ZONA CENTRAL*/

/*Grid*/

.central{
    margin-top: 4%;
    width: auto;
    height: 275px;
    text-align: center;
    margin-bottom: 5%;
}

#imgCirculo{
    align-self: center;
    width: 150px;
    height: 150px; 
    border-radius: 100px;
}

.card{
    margin: 7%;
}

.grid{
    border: 0px solid;
}

.row{
    border: 0px;
}
/*Fin Grid*/


/*Video*/
.divVideo{
    width: auto;
    text-align: center;
}

/*Fin video*/

/*FIN ZONA CENTRAL*/

.container-fluid{
    display: flex;
    width:100%;
}
.card{
    width:100%;
}